.past-events {
  margin: 20px;
  text-align: center;
}

.past-events h2 {
  margin-bottom: 10px;
}

.past-events ul {
  list-style: none;
  padding: 0;
}

.past-events li {
  margin: 5px 0;
}

.shared-msg {
  margin-bottom: 10px;
  font-weight: bold;
}
